<section
  class="about vh-100 d-flex justify-content-center align-items-center"
>
  <div class="content">
    <h2 class="text-uppercase text-white pt-4 text-center">About Component</h2>
    <div class="lines d-flex align-items-center justify-content-center mb-3">
      <div class="line me-3"></div>
      <i class="fa-solid fa-star text-white"></i>
      <div class="line ms-3"></div>
    </div>
    <div class="container">

      <div class="row text-white px-5">
        <div class="col-md-6 ps-md-5">
          <p>
            Freelancer is a free bootstrap theme created by Route. The download
            includes the complete source files including HTML, CSS, and JavaScript
            as well as optional SASS stylesheets for easy customization.
          </p>
        </div>
        <div class="col-md-6 pe-5">
          <p>
            Freelancer is a free bootstrap theme created by Route. The download
            includes the complete source files including HTML, CSS, and JavaScript
            as well as optional SASS stylesheets for easy customization.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
