<section
  class="contact vh-100 d-flex align-items-center justify-content-center flex-column"
>
  <div class="content container text-center">
    <h2>Contact Component</h2>
    <div class="lines d-flex align-items-center justify-content-center">
      <div class="line me-3"></div>
      <i class="fa-solid fa-star"></i>
      <div class="line ms-3"></div>
    </div>
  </div>
  <div class="container mt-5">
    <div class="row flex-column">
      <div class="col-md-6 m-auto">
        <div class="mb-3">
          <input
            type="text"
            class="form-control py-3"
            id="exampleFormControlInput1"
            placeholder="userName"
          />
        </div>
        <div class="mb-3">
          <input
            type="text"
            class="form-control py-3"
            id="exampleFormControlInput1"
            placeholder="userAge"
          />
        </div>
        <div class="mb-3">
          <input
            type="email"
            class="form-control py-3"
            id="exampleFormControlInput1"
            placeholder="userEmail"
          />
        </div>
        <div class="mb-3">
          <input
            type="password"
            class="form-control py-3"
            id="exampleFormControlInput1"
            placeholder="userPassword"
          />
        </div>
        <button> send Message </button>
      </div>
    </div>
  </div>
</section>
