<app-navbar></app-navbar>
<router-outlet></router-outlet>
<app-footer></app-footer>






<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  <img [src]="image.src" alt="">
</button> -->

<!-- Modal -->
<!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">

      <div class="modal-body">
        <img src="images/port2.png" alt="">
      </div>


  </div>
</div> -->
